source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/xunit/api/v3/index.json

clitool dotnet-xunit
nuget Jil ~> 2.15.4
nuget Microsoft.NET.Test.Sdk ~> 15.0.0
nuget Moq ~> 4.7.99
nuget System.IO.Compression
nuget System.Reflection.Emit.ILGeneration
nuget System.Reflection.Emit.Lightweight
nuget xunit
nuget xunit.runner.visualstudio
